*{
    margin: 0;
    padding: 0;
}
#mother{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1{
    width: 200px;
display: block;
}
.img2{
    display: none;
    
}
 .forafter::after{
    content: "";
    border: 1px solid red;
    display: block;
    width: 100px;
}
@media only screen and (max-width:767px) {
#mother{
    flex-direction: column;
}
.bgc{
    background-color: brown;
}
.img1{display:none}
    .img2{
        display: block;

    }
    
}
