footer{ background-color: #072125;
.container{
    display: flex;
    column-gap: 239px;
    // height: 100vh;
    .footleft{
        display: flex;
        flex-direction: column;
        row-gap: 31px;
        @media only screen and (max-width: 991px){
            display: none;
        }
        
         color: white;
        .choose1{
            display: flex;
            column-gap: 71px;
           
        }
        .choose2{
            display: flex;
            column-gap: 33px;
            
        }
        .last{
            display: flex;
            position: relative;
            input{
                border-radius: 5px;
                
            }
            .green{
                @extend %primary_button;
                height: 25px;
                width: 70px;
                background-color: #B8E4DA;
                color: #072125;
                border-radius: 5px;
                position: absolute;
                left: 170px;
                top: 1.5px;

            }
        }
    }
    .footright{
        color: white;
        display: flex;
        column-gap: 80px;
        @media only screen and (max-width: 991px){
            display: flex;
            .rightright{
                display: flex;
            }
        }
       h4{
        display: none;
       }
       
       .icons{
        display: none;
       }
    }
    
    @media only screen and (max-width: 767px){
        // display: flex;
        // flex-direction: column;
        // align-content: center;
        
        .footright{
            display: flex;
            flex-direction: column;
            h4{
                display: block;
            }
            .icons{
                display: block;
               
               }
            }
            .footleft{
            display: none;
            .left{
               text-align: center;
            }
        }
        
        }
    }
} hr{
        color: white;

    }
    .qui{
        @include space;
        color: white;
      
        }
    


