@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hero .container .left .bb .learn, .hero .container .left .bb .herosignup, footer .container .footleft .last .green {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 136px;
  border-radius: 8px;
  background-color: #20484F;
}

h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
}

h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

header .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #20484F;
  width: 100%;
  position: fixed;
  z-index: 3;
  height: 75px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
header .header .quickly {
  height: 30px;
  width: 99px;
  left: 40px;
  top: 21px;
  border-radius: nullpx;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
header .header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
header .header nav ul .bar {
  display: none;
}
header .header nav ul .li1 {
  display: block;
}
header .header nav ul .li1 a {
  color: white;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
header .header nav ul .li1 a:nth-child(1) {
  width: 67px;
}
header .header nav ul .li1 a:nth-child(2) {
  width: 70px;
}
header .header nav ul .li1 a:nth-child(3) {
  width: 67px;
}
header .header nav ul .li1 a:nth-child(4) {
  width: 68px;
}
header .header nav ul .li1 a:nth-child(5) {
  width: 87px;
}
header .header .signs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
header .header .signs .ups {
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  background-color: #B8E4DA;
}
header .header .signs .ups a {
  color: #20484F;
  height: 41px;
}
header .header .signs .ins a {
  color: white;
}
@media only screen and (max-width: 991px) {
  header .header nav ul .li1 {
    display: block;
  }
  header .header nav ul .bar {
    display: none;
  }
  header .header nav ul .bar a {
    color: white;
  }
}
@media only screen and (max-width: 767px) {
  header .header nav ul .li1 {
    display: none;
  }
  header .header nav ul .bar {
    display: block;
  }
  header .header nav ul .bar a {
    color: white;
  }
  header .header .signs {
    display: none;
  }
}

footer {
  background-color: #072125;
}
footer .container {
  display: flex;
  -moz-column-gap: 239px;
       column-gap: 239px;
}
footer .container .footleft {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
  color: white;
}
footer .container .footleft .choose1 {
  display: flex;
  -moz-column-gap: 71px;
       column-gap: 71px;
}
footer .container .footleft .choose2 {
  display: flex;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
footer .container .footleft .last {
  display: flex;
  position: relative;
}
footer .container .footleft .last input {
  border-radius: 5px;
}
footer .container .footleft .last .green {
  height: 25px;
  width: 70px;
  background-color: #B8E4DA;
  color: #072125;
  border-radius: 5px;
  position: absolute;
  left: 170px;
  top: 1.5px;
}
footer .container .footright {
  color: white;
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
footer .container .footright h4 {
  display: none;
}
footer .container .footright .icons {
  display: none;
}
@media only screen and (max-width: 767px) {
  footer .container .footright {
    display: flex;
    flex-direction: column;
  }
  footer .container .footright h4 {
    display: block;
  }
  footer .container .footright .icons {
    display: block;
  }
  footer .container .footleft {
    display: none;
  }
  footer .container .footleft .left {
    text-align: center;
  }
}

hr {
  color: white;
}

.qui {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.hero .container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  -moz-column-gap: 109px;
       column-gap: 109px;
}
.hero .container .left .middle {
  margin-top: 24px;
  font-size: 64px;
}
.hero .container .left .end {
  margin-top: 32px;
  font-size: 24px;
}
.hero .container .left .bb {
  margin-top: 64px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.hero .container .left .bb .herosignup a {
  color: white;
}
.hero .container .left .bb .learn {
  background-color: white;
  border: 1px solid black;
}
.hero .container .left .bb .learn a {
  color: black;
}
.hero .container .left .last {
  display: none;
}
.hero .container .right1 {
  display: block;
}
.hero .container .right1 .ultrabg {
  position: absolute;
  top: 84px;
  right: 4px;
}
.hero .container .right1 .bg {
  position: absolute;
  top: 125px;
}
.hero .container .right1 .updated {
  position: absolute;
  top: 450px;
  right: 229px;
  z-index: 1;
}
.hero .container .right1 .profile {
  z-index: 3;
}
.hero .container .right1 .vector {
  z-index: 3;
}
.hero .container .right2 {
  display: none;
}
@media only screen and (max-width: 991px) {
  .hero .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero .container .right1 {
    display: none;
  }
  .hero .container .right2 {
    display: block;
    margin-top: 150px;
  }
  .hero .container .left .bb .herosignup {
    display: none;
  }
  .hero .container .left .bb .learn {
    display: none;
  }
  .hero .container .left .last {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .hero .container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }
  .hero .container .right1 {
    display: none;
  }
  .hero .container .right2 {
    display: block;
    margin-top: 150px;
  }
  .hero .container .left .bb .herosignup {
    display: none;
  }
  .hero .container .left .bb .learn {
    display: none;
  }
  .hero .container .left .last {
    display: block;
  }
}

.container .p1 {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.container .row {
  margin-bottom: 82px;
}
.container .row .col-lg .icons {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.container .row .col-lg .icons i {
  border: 2px solid rgb(182, 216, 235);
  background-color: rgb(182, 216, 235);
  border-radius: 50%;
  padding: 10px;
}
.container .row .col-lg h4 {
  color: dark;
  margin-top: 16px;
  margin-bottom: 8px;
}
.container .row .col-lg p {
  color: #20484F;
  margin-bottom: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.container .row .col-lg .icons {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .container .row {
    text-align: center;
  }
  .container .row .col-lg i {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */